  .hero-shadow{
    box-shadow: #000 0px -117px 50px -10px inset;  }
  .overlay{
    height: 90vh;
  }
  #customizable .swiper-pagination
  {
    position: unset;
    margin-top: 40px;
    text-align:left;
  }
  #customizable .swiper-pagination-bullet-active{
    width: 36px;
  }
  #customizable .swiper-pagination-bullet{
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    background-color: #cd1719;
  }