@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tenor+Sans&display=swap');
*
{
  box-sizing: border-box;
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: #000 #f4f4f4
}
::selection
{
  background-color: transparent!important;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body
{
  font-family: 'Roboto', sans-serif!important;
}
*::-webkit-scrollbar {
  width: 8px
}

*::-webkit-scrollbar-track {
  background: #f4f4f4
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
  border: 2px solid #f4f4f4
}